* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Inter", sans-serif; }

html, body {
  height: 100%; }

a {
  text-decoration: none; }

input {
  outline: none; }

li {
  list-style-type: none; }

.container {
  max-width: 1170px;
  margin: 0 auto; }

.homeAll {
  width: inherit;
  background-image: url(../img/svg/shape.svg);
  background-repeat: no-repeat;
  background-position: right top;
  opacity: 0.99;
  background-size: 70%; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 96px;
  color: #ffffff; }

.logo {
  width: 55px;
  padding-top: 18px; }

.logo:hover {
  transform: scale(1.1); }

.menu {
  font-style: normal;
  font-size: 18px;
  line-height: 32px; }
  .menu_item {
    font-weight: 400;
    color: #6C5CE7;
    padding-left: 28px;
    padding-right: 28px; }
  .menu_item:hover {
    color: #171313; }
  .menu_dot {
    color: #FDCB6E; }
  .menu_btn {
    color: #ffffff;
    background-color: #6C5CE7;
    padding: 8px 56px;
    border-radius: 16px;
    font-weight: 500;
    border: 2px solid #6C5CE7;
    margin-left: 22px; }
  .menu_btn:hover {
    color: #6C5CE7;
    background-color: #ffffff;
    border: 2px solid #6C5CE7; }

.home {
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url(../img/svg/animait.svg);
  background-repeat: no-repeat;
  background-position: right 30px; }
  .home_title {
    font-weight: bold;
    font-size: 84px;
    line-height: 100px;
    color: #171313;
    text-align: center; }
  .home_subtitle {
    font-weight: 500;
    font-size: 52px;
    line-height: 62px;
    text-align: center;
    padding-top: 16px; }
  .home_text {
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    padding-bottom: 20px; }
  .home_captionPhoto {
    font-weight: 500;
    font-size: 36px;
    line-height: 45px;
    color: #ffffff; }
  .home_btn {
    color: #ffffff;
    background-color: #6C5CE7;
    border-radius: 16px;
    height: 48px;
    font-size: 18px;
    line-height: 48px;
    font-weight: 500;
    text-align: center;
    display: block;
    margin-top: 30px; }
  .home_btn:hover {
    color: #6C5CE7;
    background-color: #ffffff;
    border: 2px solid #6C5CE7; }
  .home_box {
    display: flex;
    padding-top: 100px; }
  .home_boxLeft {
    width: 270px;
    margin-top: 30px;
    margin-right: 30px; }
  .home_boxRight {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 870px; }
  .home_innerRight {
    width: 370px;
    align-self: flex-end; }
  .home .home_boxBottom {
    margin-top: 30px;
    display: flex;
    align-items: flex-start; }

.colorAccent {
  color: #D63031;
  text-shadow: 0 4px #ffffff;
  background-image: url(../img/svg/oval.svg);
  background-repeat: no-repeat;
  background-position: 7px bottom; }

.card {
  border-radius: 16px; }

.card1 {
  width: 470px;
  height: 370px;
  background-image: url(../img/jpg/ann.jpg);
  background-size: 120%;
  background-repeat: no-repeat;
  background-position: 0 -50px;
  padding: 20px;
  margin-right: 30px; }

.card2 {
  width: 270px; }

.card6 {
  margin-left: 30px;
  margin-right: 30px; }

.card3, .card4, .card7 {
  width: 170px; }

.card3 {
  margin-right: 25px; }

.skillsAll {
  background-color: #FFEAA7;
  padding-top: 100px;
  padding-bottom: 100px; }

.skills_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start; }
.skills_item {
  width: 270px;
  text-align: center;
  margin-top: 60px;
  margin-right: 10px;
  margin-left: 10px; }
.skills_title {
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  color: #171313;
  text-align: center;
  margin-bottom: 20px; }
.skills_text {
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  text-align: center; }
.skills img {
  height: 68px;
  width: 68px; }
.skills_subtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 68px; }
.skills_desk {
  font-weight: normal;
  font-size: 18px;
  line-height: 32px; }

.portfolio {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center; }
  .portfolio_box {
    text-align: left;
    margin-top: 50px;
    margin-bottom: 50px; }
  .portfolio_title {
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    color: #171313; }
  .portfolio_subtitle {
    font-weight: normal;
    font-size: 24px;
    line-height: 36px; }
  .portfolio_caption {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px; }
  .portfolio_text {
    font-weight: normal;
    font-size: 18px;
    line-height: 32px; }

.footerAll {
  background-image: url(../img/svg/wawe.svg);
  background-repeat: repeat-x;
  background-position: bottom center;
  margin-top: 100px; }

.footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
  .footer_title {
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: #ADADAD;
    margin-bottom: 20px; }
  .footer_socials {
    display: flex; }
  .footer_social {
    display: block;
    margin-right: 30px;
    margin-bottom: 30px; }
  .footer_social img {
    width: 60px;
    height: 60px; }
  .footer_social:hover {
    transform: scale(1.1); }
  .footer_link {
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: #171313; }
  .footer_link:active {
    color: #171313; }
  .footer_link:hover {
    color: #6C5CE7; }
  .footer_list {
    margin-bottom: 20px; }
  .footer_mail {
    display: block;
    font-weight: bold;
    font-size: 28px;
    line-height: 48px;
    color: #6C5CE7;
    margin-bottom: 30px; }
  .footer_btn {
    color: #ffffff;
    background-color: #6C5CE7;
    padding: 8px 56px;
    border-radius: 16px;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    border: 2px solid #6C5CE7;
    margin-top: 20px; }
  .footer_btn:hover {
    color: #6C5CE7;
    background-color: #ffffff;
    border: 2px solid #6C5CE7; }

.copyright {
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #171313;
  text-align: center;
  margin-top: 30px; }

/*# sourceMappingURL=style.css.map */
