* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Inter", sans-serif; }

html, body {
  height: 100%; }

a {
  text-decoration: none; }

input {
  outline: none; }

li {
  list-style-type: none; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 96px;
  width: 100%;
  color: #ffffff; }

#switcher {
  position: absolute;
  left: -999999px;
  visibility: hidden; }

.menu ul {
  display: flex; }

i {
  color: #ADADAD;
  font-size: 24px; }

.logo {
  width: 55px;
  padding-top: 18px; }
  .logo:hover {
    transform: scale(1.05); }

.menu {
  font-style: normal;
  font-size: 18px;
  line-height: 32px; }
  .menu_item {
    font-weight: 400;
    color: #6C5CE7;
    padding-left: 28px;
    padding-right: 28px; }
  .menu_item:hover {
    color: #171313; }
  .menu_dot {
    color: #FDCB6E; }
  .menu_btn {
    color: #ffffff;
    background-color: #6C5CE7;
    padding: 8px 36px;
    border-radius: 16px;
    font-weight: 500;
    border: 2px solid #6C5CE7;
    margin-left: 22px; }
  .menu_btn:hover {
    color: #6C5CE7;
    background-color: #ffffff;
    border: 2px solid #6C5CE7; }

.home {
  background-image: url(../img/svg/animait.svg), url(../img/svg/shape.svg);
  background-position: right 130px, right top;
  background-size: 209px 285px, 70%;
  background-repeat: no-repeat;
  opacity: 0.99;
  display: grid;
  grid-template-rows: 80px auto auto; }
  .home_content {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px; }
  .home_title {
    max-width: 100%;
    font-weight: bold;
    font-size: 84px;
    line-height: 100px;
    color: #171313;
    text-align: center; }
  .home_subtitle {
    font-weight: 500;
    font-size: 52px;
    line-height: 62px;
    text-align: center;
    padding-top: 16px; }

.colorAccent {
  color: #D63031;
  text-shadow: 0 4px #ffffff;
  background-image: url(../img/svg/oval.svg);
  background-repeat: no-repeat;
  background-position: 5px bottom; }

.homeBox {
  padding-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(2, 23%) repeat(3, 14%);
  grid-template-rows: 1fr 1fr;
  justify-items: start;
  grid-gap: 30px;
  grid-auto-flow: row;
  padding-left: 15px;
  padding-right: 15px; }
  .homeBox_left {
    display: flex;
    padding-top: 50px;
    grid-column: 1;
    grid-row: 1/3;
    flex-direction: column; }
  .homeBox_text {
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 30px; }
  .homeBox_text2 {
    margin-top: 30px; }
  .homeBox_text3 {
    margin-top: 30px;
    grid-column: 4/6;
    grid-row: 1/2;
    max-width: 370px;
    padding-bottom: 15px; }
  .homeBox_title {
    font-weight: 500;
    font-size: 36px;
    line-height: 45px;
    color: #ffffff; }
  .homeBox_card1 {
    grid-column: 2/4;
    grid-row: 1;
    align-self: end;
    background-image: url(../img/jpg/ann.jpg);
    background-size: cover;
    padding: 20px;
    width: 100%;
    height: 365px;
    object-fit: cover;
    border-radius: 16px; }
    .homeBox_card1:hover {
      background-image: url(../img/jpg/ann2.jpg); }
      .homeBox_card1:hover .homeBox_title {
        color: #171313; }
  .homeBox_card2 {
    width: 100%;
    height: 430px;
    object-fit: cover;
    background-image: url(../img/jpg/card_2.jpg);
    background-size: cover; }
  .homeBox_card3 {
    grid-column: 4/5;
    grid-row: 1/2;
    width: 100%;
    height: 240px;
    object-fit: cover;
    align-self: end;
    background-image: url(../img/jpg/card_3.jpg);
    background-size: cover; }
    .homeBox_card3:hover {
      background-image: url(../img/jpg/card_32.jpg); }
  .homeBox_card4 {
    grid-column: 5/6;
    grid-row: 1/2;
    width: 100%;
    height: 240px;
    object-fit: cover;
    align-self: end;
    background-image: url(../img/jpg/card_4.jpg);
    background-size: cover; }
    .homeBox_card4:hover {
      background-image: url(../img/jpg/card_42.jpg); }
  .homeBox_card5 {
    grid-column: 2/3;
    grid-row: 2/3;
    width: 100%;
    height: 240px;
    object-fit: cover;
    background-image: url(../img/jpg/card_5.jpg);
    background-size: cover; }
    .homeBox_card5:hover {
      background-image: url(../img/jpg/card_52.jpg); }
  .homeBox_card6 {
    grid-column: 3/5;
    grid-row: 2/3;
    width: 100%;
    height: 370px;
    object-fit: cover;
    background-image: url(../img/jpg/card_6.jpg);
    background-size: cover; }
    .homeBox_card6:hover {
      background-image: url(../img/jpg/card_62.jpg); }
  .homeBox_card7 {
    grid-column: 5/6;
    grid-row: 2/3;
    width: 100%;
    height: 240px;
    object-fit: cover;
    background-image: url(../img/jpg/card_7.jpg);
    background-size: cover; }
    .homeBox_card7:hover {
      background-image: url(../img/jpg/card_72.jpg); }

.card {
  border-radius: 16px; }

.homeMobile {
  display: none; }

.skills {
  background-color: #FFEAA7;
  padding-top: 100px;
  padding-bottom: 100px; }
  .skills_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start; }
  .skills_item {
    width: 277.5px;
    text-align: center;
    margin-top: 60px;
    margin-right: 10px;
    margin-left: 10px; }
  .skills_title {
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    color: #171313;
    text-align: center;
    margin-bottom: 20px; }
  .skills_text {
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    text-align: center; }
  .skills_img {
    height: 68px;
    width: 68px;
    margin-bottom: 30px; }
  .skills_desk {
    font-weight: normal;
    font-size: 18px;
    line-height: 32px; }
  .skills_emoji {
    width: 40px; }

.portfolio {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center; }
  .portfolio_title {
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    color: #171313; }
  .portfolio_subtitle {
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    margin-top: 20px;
    margin-bottom: 50px; }
  .portfolio_caption {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px; }
  .portfolio_text {
    font-weight: normal;
    font-size: 18px;
    line-height: 32px; }

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .slider_btn {
    border: none;
    border-radius: 50%; }
  .slider_btn img {
    width: 48px;
    height: 48px;
    text-align: center; }
  .slider_img {
    width: 90%; }

.footerAll {
  background-image: url(../img/svg/wawe.svg);
  background-repeat: repeat-x;
  background-position: bottom center;
  margin-top: 100px; }

.footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
  .footer_title {
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: #ADADAD;
    margin-bottom: 20px; }
  .footer_socials {
    display: flex; }
  .footer_social {
    display: block;
    margin-right: 30px;
    margin-bottom: 30px; }
  .footer_social img {
    width: 60px;
    height: 60px; }
  .footer_social:hover {
    transform: scale(1.1); }
  .footer_link {
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: #171313; }
  .footer_link:active {
    color: #171313; }
  .footer_link:hover {
    color: #6C5CE7; }
  .footer_list {
    margin-bottom: 20px; }
  .footer_mail {
    display: block;
    font-weight: bold;
    font-size: 28px;
    line-height: 48px;
    color: #6C5CE7;
    margin-bottom: 30px; }
  .footer_btn {
    color: #ffffff;
    background-color: #6C5CE7;
    padding: 8px 56px;
    border-radius: 16px;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    border: 2px solid #6C5CE7;
    margin-top: 20px; }
  .footer_btn:hover {
    color: #6C5CE7;
    background-color: #ffffff;
    border: 2px solid #6C5CE7; }

.copyright {
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #171313;
  text-align: center;
  margin-top: 30px; }

@media(max-width: 960px) {
  .home_title {
    font-size: 64px; }

  .home_subtitle {
    font-size: 48px; }

  .colorAccent {
    background-size: 95%; }

  .homeBox_card1 {
    height: 292px; }
  .homeBox_title {
    font-size: 24px;
    line-height: 30px; }
  .homeBox_card2 {
    height: 344px; }
  .homeBox_card3, .homeBox_card4, .homeBox_card7 {
    height: 192px; }
  .homeBox_card5 {
    height: 192px; }
  .homeBox_card6 {
    height: 296px; }
  .homeBox_text {
    font-size: 14px;
    line-height: 21px;
    width: 100%; } }
@media(max-width: 670px) {
  .container {
    padding-right: 15px;
    padding-left: 15px; }

  .home {
    background-image: url(../img/svg/animait.svg), url(../img/svg/shape_3.svg), url("../img/svg/wave.svg");
    background-position: right 130px, right -100px, center -100px;
    background-size: 30%, 150%, 100%;
    background-repeat: no-repeat; }

  .menu {
    font-size: 14px; }
    .menu_item {
      padding-left: 16px;
      padding-right: 16px; }
    .menu_btn {
      padding: 8px 16px; }

  .homeBox {
    display: none; }

  .homeMobile {
    display: grid;
    justify-content: center;
    padding-bottom: 50px; }
    .homeMobile_text {
      font-weight: normal;
      font-size: 18px;
      line-height: 24px;
      padding-left: 15px;
      padding-right: 15px;
      text-align: center;
      margin-bottom: 20px; }
    .homeMobile_arrow {
      margin: 0 auto; }
    .homeMobile_img {
      margin-top: 20px;
      margin-bottom: 50px;
      background-image: url(../img/png/homeMobile.png);
      background-position: center top;
      background-size: cover;
      background-repeat: no-repeat;
      object-fit: cover;
      height: 495px;
      width: 100%;
      text-align: center;
      padding-top: 10px;
      color: #ffffff;
      font-weight: 500;
      font-size: 14px; }

  .skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px; }
    .skills_item {
      width: 40%;
      margin-top: 30px; }
    .skills_desk {
      font-size: 14px;
      line-height: 24px; }
    .skills_title {
      font-size: 24px;
      line-height: 30px;
      text-align: center; }
    .skills_text {
      font-size: 18px;
      line-height: 27px; }
    .skills_emoji {
      width: 32px; }

  .portfolio {
    padding-top: 50px;
    padding-bottom: 50px; }
    .portfolio_title {
      font-size: 24px;
      line-height: 30px; }
    .portfolio_subtitle {
      font-size: 18px;
      line-height: 27px; }

  .footer {
    text-align: center; }

  .footerAll {
    margin-top: 50px; }

  .logo_link {
    align-self: baseline; } }
@media (min-width: 426px) {
  label {
    display: none; } }
@media(max-width: 425px) {
  .menu {
    height: 100vh;
    width: 100%;
    background-color: #ffffff;
    background-image: url("../img/svg/burgerMenu.svg");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 100%;
    transition: all 0.4s; }

  .menu_dot {
    display: none; }

  .menu_btn {
    margin-left: 0;
    margin-top: 29px; }

  .menu li {
    text-align: center; }

  #open {
    display: block; }

  #close {
    display: block;
    position: absolute;
    top: 32px;
    right: 32px; }

  #switcher:checked ~ .menu {
    left: 0; }

  .menu ul {
    height: 50vh;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 30px; }

  .menu ul a {
    padding: 16px;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 24px;
    display: block; }

  .home_content {
    padding-top: 45px;
    padding-bottom: 45px; }
  .home_title {
    font-size: 48px;
    line-height: 70px; }
  .home_subtitle {
    font-size: 36px;
    line-height: 45px; }

  .skills_item {
    width: 100%; }
  .skills_text {
    line-height: 21px; }
  .skills_img {
    margin-bottom: 15px; }

  .slider_btn img {
    width: 24px;
    height: 24px; }

  .slider_img {
    width: 85%; }

  .copyright {
    font-size: 12px; }

  .footer_mail {
    font-size: 22px; }

  .footer_title {
    font-size: 16px;
    margin-bottom: 10px; } }

/*# sourceMappingURL=style.css.map */
