$widthAll: 1170px
$gutter: 30px
$col: ($widthAll - $gutter * 11) / 12
$colorBack: #ffffff
$colorBack2: #FFEAA7
$colorActive: #6C5CE7
$colorContent: #171313
$colorContent2: #ADADAD
$colorCarts: #f9f9f9
$colorAccent: #D63031
$colorAccent2: #55EFC4

*
  margin: 0
  padding: 0
  box-sizing: border-box


body
  font-family: 'Inter', sans-serif

html, body
  height: 100%

a
  text-decoration: none

input
  outline: none

li
  list-style-type: none

.container
  max-width: $widthAll
  margin: 0 auto

.homeAll
  width: inherit
  background-image: url(../img/svg/shape.svg)
  background-repeat: no-repeat
  background-position: right top
  opacity: .99
  background-size: 70%

.header
  display: flex
  justify-content: space-between
  align-items: center
  min-height: 96px
  color: $colorBack

.logo
  width: 55px
  padding-top: 18px

.logo:hover
  transform: scale(1.1)

.menu
  font-style: normal
  font-size: 18px
  line-height: 32px
  &_item
    font-weight: 400
    color: $colorActive
    padding-left: 28px
    padding-right: 28px
  &_item:hover
    color: $colorContent
  &_dot
    color: #FDCB6E
  &_btn
    color: $colorBack
    background-color: $colorActive
    padding: 8px 56px
    border-radius: 16px
    font-weight: 500
    border: 2px solid $colorActive
    margin-left: 22px
  &_btn:hover
    color: $colorActive
    background-color: $colorBack
    border: 2px solid $colorActive

.home
  padding-top: 100px
  padding-bottom: 100px
  background-image: url(../img/svg/animait.svg)
  background-repeat: no-repeat
  background-position: right 30px
  &_title
    font-weight: bold
    font-size: 84px
    line-height: 100px
    color: $colorContent
    text-align: center
  &_subtitle
    font-weight: 500
    font-size: 52px
    line-height: 62px
    text-align: center
    padding-top: 16px
  &_text
    font-weight: normal
    font-size: 18px
    line-height: 27px
    padding-bottom: 20px
  &_captionPhoto
    font-weight: 500
    font-size: 36px
    line-height: 45px
    color: $colorBack
  &_btn
    color: $colorBack
    background-color: $colorActive
    border-radius: 16px
    height: 48px
    font-size: 18px
    line-height: 48px
    font-weight: 500
    text-align: center
    display: block
    margin-top: $gutter
  &_btn:hover
    color: $colorActive
    background-color: $colorBack
    border: 2px solid $colorActive
  &_box
    display: flex
    //flex-wrap: wrap Добавим через медиа-запрос на 768
    padding-top: 100px
  &_boxLeft
    width: $col * 3 + $gutter * 2
    margin-top: $gutter
    margin-right: $gutter
    //display: none удалить на 768 через медиа-запросс
  &_boxRight
    display: flex
    flex-wrap: wrap
    align-items: flex-start
    width: $col * 9 + $gutter * 8
  &_innerRight
    width: $col * 4 + $gutter * 3
    align-self: flex-end
  .home_boxBottom
    margin-top: $gutter
    display: flex
    align-items: flex-start

.colorAccent
  color: $colorAccent
  text-shadow: 0 4px $colorBack
  background-image: url(../img/svg/oval.svg)
  background-repeat: no-repeat
  background-position: 7px bottom

.card
  border-radius: 16px

.card1
  width: $col * 5 + $gutter * 4
  height: $col * 4 + $gutter * 3
  background-image: url(../img/jpg/ann.jpg)
  background-size: 120%
  background-repeat: no-repeat
  background-position: 0 -50px
  padding: 20px
  margin-right: $gutter

.card2
  width: $col * 3 + $gutter * 2

.card6
  margin-left: $gutter
  margin-right: $gutter

.card3, .card4, .card7
  width: $col * 2 + $gutter

.card3
  margin-right: $gutter - 5px

.skillsAll
  background-color: $colorBack2
  padding-top: 100px
  padding-bottom: 100px

.skills
  &_box
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-content: flex-start
  &_item
    width: $col * 3 + $gutter *2
    text-align: center
    margin-top: $gutter * 2
    margin-right: 10px
    margin-left: 10px
  &_title
    font-weight: bold
    font-size: 32px
    line-height: 48px
    color: $colorContent
    text-align: center
    margin-bottom: 20px
  &_text
    font-weight: normal
    font-size: 24px
    line-height: 36px
    text-align: center
  & img
    height: 68px
    width: 68px
  &_subtitle
    font-weight: 500
    font-size: 24px
    line-height: 68px
  &_desk
    font-weight: normal
    font-size: 18px
    line-height: 32px

    
.portfolio
  padding-top: 100px
  padding-bottom: 100px
  text-align: center
  &_box
    text-align: left
    margin-top: 50px
    margin-bottom: 50px
  &_title
    font-weight: bold
    font-size: 32px
    line-height: 48px
    color: $colorContent
  &_subtitle
    font-weight: normal
    font-size: 24px
    line-height: 36px
  &_caption
    font-weight: 500
    font-size: 24px
    line-height: 36px
  &_text
    font-weight: normal
    font-size: 18px
    line-height: 32px


.footerAll
  background-image: url(../img/svg/wawe.svg)
  background-repeat: repeat-x
  background-position: bottom center
  margin-top: 100px

.footer
  display: flex
  justify-content: space-around
  flex-wrap: wrap
  &_title
    font-weight: 600
    font-size: 20px
    line-height: 25px
    letter-spacing: 2.5px
    text-transform: uppercase
    color: $colorContent2
    margin-bottom: 20px
  &_socials
    display: flex
  &_social
    display: block
    margin-right: $gutter
    margin-bottom: $gutter
  &_social img
    width: 60px
    height: 60px
  &_social:hover
    transform: scale(1.1)
  &_link
    font-weight: normal
    font-size: 18px
    line-height: 32px
    color: $colorContent
  &_link:active
    color: $colorContent
  &_link:hover
    color: $colorActive
  &_list
    margin-bottom: 20px
  &_mail
    display: block
    font-weight: bold
    font-size: 28px
    line-height: 48px
    color: $colorActive
    margin-bottom: $gutter
  &_btn
    color: $colorBack
    background-color: $colorActive
    padding: 8px 56px
    border-radius: 16px
    font-weight: 500
    font-size: 18px
    line-height: 32px
    border: 2px solid $colorActive
    margin-top: 20px
  &_btn:hover
    color: $colorActive
    background-color: $colorBack
    border: 2px solid $colorActive



.copyright
  font-weight: normal
  font-size: 18px
  line-height: 32px
  color: $colorContent
  text-align: center
  margin-top: $gutter


















    







