$widthAll: 1170px
$colorBack: #ffffff
$colorBack2: #FFEAA7
$colorActive: #6C5CE7
$colorContent: #171313
$colorContent2: #ADADAD
$colorCarts: #f9f9f9
$colorAccent: #D63031
$colorAccent2: #55EFC4

*
  margin: 0
  padding: 0

body
  font-family: 'Inter', sans-serif

html, body
  height: 100%

a
  text-decoration: none

input
  outline: none

li
  list-style-type: none

.container
  width: $widthAll
  margin: 0 auto

.logo
  height: 48px
  padding-top: 18px
.menu
  font-style: normal
  font-size: 18px
  line-height: 32px
  &_item
    font-weight: 400
    color: $colorActive
    padding-left: 28px
    padding-right: 28px
  &_dot
    color: #FDCB6E
  &_btn
    color: $colorBack
    background-color: $colorActive
    padding: 8px 56px
    border-radius: 16px
    font-weight: 500

.homeAll
  background-image: url(../img/svg/shape.svg)
  background-repeat: no-repeat
  background-position: right top

.home
  &_title
    position: relative
    font-weight: bold
    font-size: 84px
    line-height: 100px
    color: $colorContent
  &_oval
    position: absolute
    width: 190px
    height: 48px
    z-index: -1
    bottom: 1px
  &_subtitle
    font-weight: 500
    font-size: 52px
    line-height: 62px
  &_text
    font-weight: normal
    font-size: 18px
    line-height: 27px
  &_captionPhoto
    font-weight: 500
    font-size: 36px
    line-height: 45px
    color: $colorBack
  &_btn
    color: $colorBack
    background-color: $colorActive
    padding: 8px 56px
    border-radius: 16px
    font-weight: 500

.colorAccent
  color: $colorAccent
  text-shadow: 0 4px $colorBack

.card1
  width: 470px
  height: 366px
  background-image: url("../img/jpg/ann.jpg")

.card
  border-radius: 16px


.skills
  background-color: $colorBack2
  &_title
    font-weight: bold
    font-size: 32px
    line-height: 48px
    color: $colorContent
  &_text
    font-weight: normal
    font-size: 24px
    line-height: 36px
  & img
    height: 68px
    width: 68px
  &_subtitle
    font-weight: 500
    font-size: 24px
    line-height: 36px
  &_desk
    font-weight: normal
    font-size: 18px
    line-height: 32px

.portfolio
  &_title
    font-weight: bold
    font-size: 32px
    line-height: 48px
    color: $colorContent
  &_subtitle
    font-weight: normal
    font-size: 24px
    line-height: 36px
  &_caption
    font-weight: 500
    font-size: 24px
    line-height: 36px
  &_text
    font-weight: normal
    font-size: 18px
    line-height: 32px

.footer
  background-image: url(../img/svg/wawe.svg)
  background-repeat: no-repeat
  background-position: bottom center
  &_title
    font-weight: 800
    font-size: 20px
    line-height: 25px
    letter-spacing: 2.5px
    text-transform: uppercase
    color: $colorContent2
  &_social
    height: 60px
    width: 60px
    padding: 28px
  &_link
    font-weight: normal
    font-size: 18px
    line-height: 32px
    color: $colorContent
  &_link:active
    color: $colorContent
  &_link:hover
    color: $colorActive
  &_mail
    font-weight: bold
    font-size: 32px
    line-height: 48px
    color: $colorActive
  &_btn
    color: $colorBack
    background-color: $colorActive
    padding: 8px 56px
    border-radius: 16px
    font-weight: 500
    font-size: 18px
    line-height: 32px

.far
  position: absolute
  z-index: 1
  color: $colorContent
  width: 32px

.input
  height: 48px
  padding: 16px
  border-radius: 16px
  border: none
  background-color: #c1c1c1
  color: $colorContent
  font-weight: normal
  font-size: 18px
  line-height: 32px
  margin: 16px

.conf
  font-weight: normal
  font-size: 12px
  line-height: 15px
  display: flex
  align-items: center
  color: #9E9E9E

















    







